ADMIN_BOT_TOKEN=""
ADMIN_BOT_UUID=""
ADMIN_PANEL_PASSWORD="root"
ADMIN_PANEL_SESSION_SECRET="rootroot"
COMMUNITY_CHAT_ID="-1004322815777"
COMMUNITY_INVITE_LINK="https://t.me/+iW9FJY2eFpVmMGZi "
PORT="3000"
PUBLIC_BASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
SUPER_ADMIN_ID="5396658024"
