ADMIN_BOT_TOKEN=""
ADMIN_BOT_UUID=""
ADMIN_PANEL_PASSWORD=""
ADMIN_PANEL_SESSION_SECRET=""
COMMUNITY_CHAT_ID="-1004......"
COMMUNITY_INVITE_LINK="https://t.me/+iW..... "
PORT="3000"
PUBLIC_BASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
SUPER_ADMIN_ID="539...."
